@using LeaveApiClient.Models
@model IEnumerable<Leave>
<h1>All leaves</h1>
<a asp-action="Create" class="btn btn-primary">Add a new leave</a>
@if (Model.Any())
{
    <table class="table">
        <tr>
            <th>Id</th>
            <th>Employee</th>
            <th>Start Date</th>
            <th>End Date</th>
            <th>Status</th>
            <th></th>
        </tr>
        @foreach (var leave in Model)
        {
            <tr>
                <td>@leave.LeaveId</td>
                <td>@leave.Employee.EmployeeName</td>
                <td>@leave.StartDate.ToString("yyyy-MM-dd")</td>
                <td>@leave.EndDate.ToString("yyyy-MM-dd")</td>
                <td>@leave.Status</td>
                <td>
                    <a asp-action="Edit" asp-route-id="@leave.LeaveId" class="btn btn-primary">Edit</a>
                    <a asp-action="Details" asp-route-id="@leave.LeaveId" class="btn btn-primary">Details</a>
                    @* <a asp-action="Delete" asp-route-id="@employee.EmployeeId" method="post" class="btn btn-danger">Delete</a> *@
                    <form asp-action="DeleteConfirmed" class="d-inline-block" asp-route-id="@leave.LeaveId" method="post">
                        <button type="submit" class="btn btn-danger" onclick="return confirm('Are you sure you want to delete this leave?');">Delete</button>
                    </form>
                </td>
            </tr>
        }
    </table>
}
else
{
    <p>No employees in the database</p>
}

